<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Погода</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Погода
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="city" type="text" placeholder="Название города">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Добавить город
                                </button>
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% set message_class = 'is-success' %}

                                {% if category == 'error' %}
                                    {% set message_class = 'is-danger' %}
                                {% endif %}
                                <div class="notification {{ message_class }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% if session.get('city') %}
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ data['weather'][0]['icon'] }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">{{ data['name'] }}</span>
                                            <br>
                                            <span class="subtitle">{{ data['main']['temp'] }}° {{ som['temp'] }}</span>
                                            <br> Время в городе: {{ time }}
                                            <br> Погода: {{ data['weather'][0]['description'] }}
                                            <br> Минимальная температура: {{ data['main']['temp_min'] }}° {{ som['temp'] }}
                                            <br> Максимальная температура: {{ data['main']['temp_max'] }}° {{ som['temp'] }}
                                            <br> Ощущается как {{ data['main']['feels_like'] }}° {{ som['temp'] }}
                                            <br> Давление: {{ data['main']['pressure'] }} мм.
                                            <br> Влажность: {{ data['main']['humidity'] }} %
                                            <br> Ветер: {{ data['wind']['speed'] }} {{ som['speed'] }}
                                            <br> Облачность: {{ data['clouds']['all'] }} %
                                        </p>
                                    </div>
                                </div>

                            </article>
                        </div>
                    {% else %}
                        <div class="box">
                            <article class="media">

                                <div class="media-content">
                                    Выберите город
                                </div>

                            </article>
                        </div>
                    {% endif %}

                    <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="{{ url_for('static', filename='pictures/currency_85911.png') }}" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">Курс доллара и евро.</span>
                                            <br>
                                            <span class="subtitle">Доллар: {{ usd }} руб.</span>
                                            <br>
                                            <span class="subtitle">Евро: {{ eur }} руб.</span>

                                        </p>
                                    </div>
                                </div>

                            </article>
                        </div>
                    <a href="{{ url_for('options') }}">Настройки</a>
                    <hr>
                    <div style="width: 300px; height: 200px;">
                        <article>
                            {% for i in news %}

                              <h1><a href="{{ i['url'] }}" title="">{{ i['title'] }}</a></h1>
                              <img src="{{ i['urlToImage'] }}" width="70%" height="70%">
                              <hr>
                            {% endfor %}
                        </article>

                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>